/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpintel
vendor/
*.rar
*.zip
storage/debugbar
resources/views/auth/login.blade.php
/app.rar
/resources/views/partials/side-profile.blade.php
/resources/views/partials/topbar.blade.php
/resources/views/partials/footer.blade.php
/resources/views/partials/head.blade.php
/resources/views/partials/right-sidebar.blade.php
/resources/views/partials/selector.blade.php
/resources/views/partials/javascripts.blade.php
/resources/views/extraTemplate.blade.php
*/login.blade.php
/resources/views/auth/login.blade.php
/composer.lock
/.styleci.yml
/.env.example
/_ide_helper_models.php
/_ide_helper.php
/composer.lock
/public/adminlte/bootstrap/css/bootstrap-theme.css
/public/docs/cache/*